:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

/*-- Шрифты--*/

/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/

/*-- основной цвет #212121--*/
/*-- вторичный цвет #757575--*/
/*--белый цвет #FFFFFF--*/
/*---акцент #2196F3--*/
/*--цвет контактов в футере rgba(255, 255, 255, 0.6) ---*/
/* ----основной цвет фона #FFFFFF---*/
/* ----вторичный цвет фона #F5F4FA---*/
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.logo {
  color: var(--title-text-color);
}
.logo:hover,
logo:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
/* ----Навигация сайта---*/
.site-nav a {
  color: var(--title-text-color);
}
.site-nav a:hover,
site-nav a:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* ----Контакты---*/
.contact a {
  color: var(--primary-text-color);
}
.contact a:hover,
contact a:focus {
  color: var(--accent-color);
}

/* ----Герой---*/

.hero-title {
  color: var(--primary-bg-color);
}

/* ----Секции---*/
.section-title {
  color: var(--title-text-color);
}
/* ----Кнопка---*/
.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}
.button.secondary {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
}
